<!DOCTYPE html>
<html>
<head>
    <title>Engine Families</title>
</head>
<body>
    <h1>Engine Families</h1>

    <p><a href="{% url 'family_create' %}">Create new engine family</a></p>

    <table border=2>
        <thead>
            <tr>
                <th>Name</th>
                <th>Author(s)</th>
                <th>Website</th>
                <th>Count</th>
                <th>Add Engine</th>
            </tr>
        </thead>
        <tbody>
            {% for family in families %}
            <tr>
                <td><a href="{% url 'family_engines' family.id %}">{{ family.name }}</a></td>
                <td>{{ family.author }}</td>
                <td><a href="{{ family.website }}">Link</a></td>
                <td>{{ family.engines.count }}</td>
                <td><a href="{% url 'engine_create_for_family' family.id %}">Create</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
